html,
body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0px;
  height: 300px;
  width: 300px;
  max-width: 400px;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.5px solid #dadada;
}
h3.title {
  color: black;
  text-align: center;
  padding: 10px;
}
.version {
  font-size: 10px;
  color: grey;
  padding: 10px;
}

.select-div {
  width: 90%;
  margin: 20px auto auto auto;
}

.select-div > b {
  text-align: center§;
  margin-bottom: 5px;
}

.select-main {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.durationBtn {
  background-color: #dadada;
  border: #2f5876;
  color: #2f5876;
  border-radius: 5px;
  width: auto;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.durationBtn:hover {
  opacity: 0.8;
}

.btnSelected {
  background-color: #2f5876;
  border: #dadada;
  color: #dadada;
}

#notifyInterval {
  outline: none;
  margin-bottom: 15px;
  color: grey;
  padding: 5px;
  border-radius: 10px;
  border: 0.1rem #eee solid;
}
#save {
  color: grey;
  background: #fff;
  outline: none;
  border-radius: 4px;
  padding: 5px;
  border: 0.1rem #eee solid;
}
#save:hover {
  opacity: 0.5;
}

.modal {
  width: 90%;
  font-size: 18px;
  margin: auto;
}

.rule {
  font-size: 0.8rem;
  color: dimgrey;
  font-weight: bold;
  padding: 1rem;
  border: 0.1rem #eee solid;
}

.modal-icons {
  bottom: 0;
  border-top: 0.5px solid #dadada;
  height: 30px;
  width: 100%;
}
.logo {
  padding: 15px;
}
.logo-icon {
  vertical-align: text-bottom;
  margin-right: 12px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 22px;
  bottom: 0;
}
.flex {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  width: 120px;
  position: relative;
  bottom: 0;
  margin: 0;
  padding: 0;
}
.flex:hover {
  opacity: 0.4;
}
.flex .fa {
  font-size: 20px;
  color: #2f5876;
}
