html,
body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0px;
  height: 150px;
  width: 300px;
  max-width: 400px;
}
header {
  text-align: center;
}
h3.title {
  color: black;
  padding: 10px;
}
.version {
  font-size: 7px;
  color: grey;
  padding: 10px;
}
#time {
  text-align: center;
  color: red;
  font-size: 10px;
  font-weight: bold;
}
.modal-icons {
  border-top: 0.5px solid #dadada;
  height: 50px;
  width: 100%;
}
.logo {
  padding: 16px;
}
.logo-icon {
  vertical-align: text-bottom;
  margin-right: 12px;
}
.version {
  color: #444;
  font-size: 18px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 22px;
}
.flex {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  width: 120px;
}
.flex:hover {
  opacity: 0.4;
}
.flex .fa {
  font-size: 40px;
  color: #2f5876;
}
