html,
body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0px;
  height: 300px;
  width: 300px;
  max-width: 400px;
}
header {
  text-align: center;
}
h3.title {
  color: black;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.version {
  font-size: 15px;
  color: grey;
}
#time {
  /* display: inline; */
  color: red;
  font-size: 10px;
  /* font-weight: bold; */
  /* text-align: center; */
  /* padding: 5px; */
}
/* div#countdown {
  margin: 20px;
  border: 20px;
  display:inline;
  color: #004853;
  font-size: 60px;
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
  text-align: center;
} 
*/
.modal {
    display: block;
    position: relative;
    margin-top: 20px;
    top: 50%;
    left: 50%;
    border-radius: 5%;
    transform:translate(-50%,-50%);
    background: #fff;
    width: 90%;
    height: 200px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    z-index: 1;
  }
  
  .modal__header {
    padding: 0;
    color: white;
    background: #333;
    text-align: center;
    position: relative;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    }
  .modal__header #close {
      position: absolute;
      top: 0;
      right: 0;
      font-weight: bold;
      display: block;
      padding: 0;
      font-size: 30px;
      height: 100%;  
    }
    .bold{
      color: red;
      background: white;
    }
    .rule {
      text-align: center;
      background-color: black;
      color: white;
      text-transform: uppercase;
  }